<section class="flex flex-col gap-4 h-full">
  <div class="flex justify-between items-end">
    <app-title [value]="'Perfil del cliente'" classColor="text-sky-600" />
    @if (!isClientEditing()) {<app-button
      (onClick)="onEditProfile()"
      label="Editar perfil"
      iconPos="right"
      icon="pi pi-user-edit"
      typeButton="success"
      [disabled]="this.loading() || this.client() == null"
    />} @else {
    <div class="flex gap-4">
      <app-button
        (onClick)="onCancelEditProfile()"
        label="Cancelar"
        iconPos="right"
        icon="pi pi-times"
        typeButton="info"
      />
      <app-button
        (onClick)="onSaveProfile()"
        label="Guardar perfil"
        iconPos="right"
        icon="pi pi-save"
        typeButton="success"
      />
    </div>
    }
  </div>

  <app-progress-bar-loader [loading]="this.loading()" />
  <section class="w-full h-full overflow-hidden flex flex-col gap-4">
    <div
      class="flex gap-2 p-1 items-center bg-neutral-300 font-semibold rounded"
    >
      <p
        (click)="onChangeTab(0)"
        [class]="
          'w-full text-center cursor-pointer rounded py-1 ' +
          (tabSelected() === 0 ? 'text-black bg-slate-100' : 'text-gray-500')
        "
      >
        Perfil
      </p>
      <p
        (click)="onChangeTab(1)"
        [class]="
          'w-full text-center cursor-pointer rounded py-1 ' +
          (tabSelected() === 1 ? 'text-black bg-slate-100' : 'text-gray-500')
        "
      >
        Actividades
      </p>
      <p
        (click)="onChangeTab(2)"
        [class]="
          'w-full text-center cursor-pointer rounded py-1 ' +
          (tabSelected() === 2 ? 'text-black bg-slate-100' : 'text-gray-500')
        "
      >
        Informacion de salud
      </p>
    </div>
    @if(!this.loading()) {
    <div
      class="border py-6 h-full overflow-hidden border-neutral-300 rounded-md"
    >
      @if (!isClientEditing() && this.client() != null) {<app-view-data-client
        [client]="this.client()!"
        [tab]="this.tabSelected()"
      />} @else if (isClientEditing() && this.client() != null) {
      <app-edit-data-client
        [formGroup]="this.formGroup!"
        [tab]="this.tabSelected()"
      />

      }
    </div>
    }
  </section>
</section>
