<div class="h-full overflow-y-auto border-2 border-neutral-300">
  <table class="min-w-full text-sm font-semibold">
    <thead class="sticky top-0 bg-slate-300 text-black">
      <tr class="border-b border-neutral-300 text-lg">
        <th></th>
        <th class="px-4 py-2 text-left">Nombre</th>
        <th class="px-4 py-2 text-left">Dni</th>
        <th class="px-4 py-2 text-left">Seguro</th>
        <th class="px-4 py-2 text-left">Activo</th>
        <th class="px-4 py-2 text-left">Acciones</th>
      </tr>
    </thead>
    <tbody class="font-medium">
      @for (client of clients(); track $index) {
      <tr
        class="odd even border-b border-neutral-300 cursor-pointer hover:bg-slate-200 relative"
        (click)="onNavigateClient(client.id)"
      >
        <td class="pl-4" (click)="$event.stopPropagation()">
          <p-checkbox
            [value]="isChecked(client.id)"
            [binary]="true"
            (onChange)="onChecked(client.id)"
          />
        </td>
        <td class="px-1 py-2">{{ client.firstName }} {{ client.lastName }}</td>
        <td class="px-4 py-2">{{ client.dni }}</td>
        <td class="px-4 py-2">
          <app-button-information
            [text]="client.isInsured ? 'Si' : 'No'"
            [severity]="client.isInsured ? 'success' : 'danger'"
          />
        </td>
        <td class="px-4 py-2">
          <app-button-information
            [text]="client.isActive ? 'Si' : 'No'"
            [severity]="client.isActive ? 'success' : 'danger'"
          />
        </td>
        <td class="px-4 py-2" (click)="$event.stopPropagation()">
          <p-button
            raised
            styleClass="bg-red-500/80 h-4 w-4 border-red-500 text-white p-4"
            (onClick)="openDialog.set({ open: true, client: client })"
            icon="pi pi-trash"
          />
        </td>
      </tr>
      }
    </tbody>
    <tfoot class="sticky bottom-0 bg-slate-300 text-black">
      <tr class="h-full">
        <td colspan="5" class="px-4 py-1">
          <div class="flex items-center justify-center gap-2 h-full">
            <!-- Botón página anterior -->
            <button
              class="px-1 py-1 text-2xl pi pi-angle-left text-sky-600 disabled:text-gray-400 disabled:cursor-default"
              (click)="prevPage()"
              [disabled]="currentPage() === 1"
            ></button>

            <!-- Indicador de página actual -->
            <span class="text-sm">
              Página {{ currentPage() }} de {{ totalPages() }}
            </span>

            <!-- Botón página siguiente -->
            <button
              class="px-1 py-1 text-2xl cursor-pointer rounded-xl pi pi-angle-right text-sky-600 disabled:text-gray-400 disabled:cursor-default"
              (click)="nextPage()"
              [disabled]="currentPage() === totalPages()"
            ></button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- eliminar cliente -->
<app-generic-modal
  [visible]="openDialog().open"
  title="Eliminar cliente"
  (onClose)="openDialog.set({ open: false, client: null })"
>
  <div class="flex-col flex">
    <p>
      Estas seguro que deseas eliminar al cliente
      {{ openDialog().client?.firstName }} {{ openDialog().client?.lastName }}
    </p>
  </div>
  <div class="flex justify-end gap-4">
    <app-button
      label="Eliminar"
      icon="pi pi-trash"
      typeButton="danger"
      (onClick)="
        onDeleteClient(openDialog().client!.id);
        openDialog.set({ open: false, client: null })
      "
    />
    <app-button
      label="Cancelar"
      icon="pi pi-times"
      typeButton="info"
      (onClick)="openDialog.set({ open: false, client: null })"
    />
  </div>
</app-generic-modal>
